@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
html{
 width: 100%;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
 background-color: rgba(0,0,0,0);

    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}	
scroll-container{
	      scroll-behavior: smooth;
  overflow-y: scroll;
}

::selection {
   background: transparent;
}
::-moz-selection {
   background: transparent;
}

body {  
	    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
	overflow-x: hidden;
	margin: 0;
	font-family: "Noto Sans";
	font-weight: bold;
	font-style: normal;
	font-size: 24px;
	color: #FFFFFF;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	z-index: 1;
}
 nav.stroke ul li a{
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: white;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


.center {
  text-align: center;
}

section {
}

/* NAVIGATION */
nav {
  width: 80%;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #000;
}

h1{

	font-size: 26px;
	font-weight: bold;
}

a{
	color: #ffffff;
		text-decoration: none;	
}
a:visited {
	color: white;
}
a:hover {
	color: #1A224D;
	text-decoration: none;	
	outline: 0;
}
a:focus {
	color: #fff;
	text-decoration: none;	
	outline: 0;
}
.special:hover{
	color: #fff;
	 transition: 1s linear;
}
.navbar-brand {
	font-size: 24px;
	margin-left: 10%
}
.navbar-right {
margin-top: -38px;
	position: relative;
z-index: 0;
left: -1%;
font-size: 15px;
font-weight: normal
}

li {
	display: inline;
	padding-right: 3%;
}

.navbar-inverse {
	background: rgba(0,0,0,0);

}


.phone {
	float: right;
	margin-top: -70px;
	color: #7b7b7b;
}

.fake {
	background: rgba(0,0,0,0.2);
	height: 100%;
}

.first {
	background-color: white;
	background-image: url(1/fon1.png); 
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  min-height: 1000px;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
 position: fixed;
 top: 15px;
 left: 15px;
 z-index: 2;
}

label[for="nav-trigger"] {
 /* ... предыдущие стили находятся здесь ... */
 width: 30px;
 height: 30px;
 cursor: pointer;
 background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
 background-size: contain;
}
.nav-trigger:checked + label {
 left: 215px;
}
 
.nav-trigger:checked ~ .site-wrap {
 left: 200px;
 box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.container {
	padding-top: 2%
}
.container1 {
	padding-top: 2%
}
.title {
	position: absolute;
	display: block;
	text-align: center;
	left: 50%;
	margin-left: -237px;
	top: 32%;
	font-size: 18px;
	font-weight: normal;
}
.title2 {
	text-align: center;
		margin: auto;
	margin-top: 1%;
	font-size: 48px;
	font-weight: bold;
	line-height: 148.18%;
	width: 474px;
	height: 142px;
}
.donates {
	position: absolute;
	top: calc(35% + 150px);
width: 600px;
left: 50%;
margin-left: -330px;
padding-top: 2%;
font-size: 15px;
}
.donate {
width: 252px;
height: 62px;
 padding: 15px 60px;
 background: #57DBAC;
 transition: 0.35s linear;
}

a.donate:hover {
width: 252px;
height: 62px;
 padding: 15px 60px;
 background: #FFFFFF	;
}

.learn {
	border: 2px solid #333;
	border-color: white;
width: 252px;
height: 62px;
 padding: 13px 58px;
 transition: 0.35s linear;
}
.learn:hover {
	border: 2px solid #333;
	border-color: white;
width: 252px;
height: 62px;
 padding: 13px 58px;
 transition: 0.35s linear;
 background: white;
}


.second {
	text-align: center;

    width: 100%; 
    height: 385px;
    background: #FFF; 
    
    position: absolute; 
    top: 100%; 
    color: #1A224D;
}


.container{overflow:hidden;
	width: 100%;

}
.box{white-space:nowrap}
.box div{
	width:20%;
	display:inline-block;
	text-align: center;
	margin-top: 25px;
	height: 250px;

}

.center{
	margin-right: 30px;
	margin-left: 30px;
}

.small {
	font-size: 15px;
	font-weight: normal;
}

.third {

	color: #1A224D;
	background-color: #F7FAFE;
	width: 100%;
	text-align: left;
    position: absolute;
    font-size: 15px;
    font-weight: normal;
   top: calc(100% + 385px);
   height: 780px;
}
.palm {
	background-image: url("1/palm.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 30%;
	float: right;
	margin-right:  12%;
}
.text-for-palm{
	width: 30%;
	margin-left: 15%;
	margin-top: 15%;
}

.four {
	position: absolute;
	top: calc(100% + 385px + 780px );
	height: 691px;
	width: 100%;
	color: #1A224C;
	display: inline;
	text-align: center;
	 	overflow: hidden;
}

 [data-objectId].active{color:red}

 .kek {
 	font-size: 15px;
 }
 .lol {
 	color: #1A224C;
 }
 .items{
 	width: 470px;
 	padding-right: 20px;
 }
 .right-side{
 	width: 300px;
 	height: 555px;
 	overflow: scroll;
 	margin-top: 4%

 }

 .four1{
 		width: 100%;
 		height: 600px;
 		display: inline;
 		text-align: center;

 }

 .five {
 		position: absolute;
		top: calc(100% + 385px + 780px + 691px);
		height: 799px;
		width: 100%;

		background-image: url(1/fon51.png); 
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		 	padding-top:0px;
		 	display: inline;
 }

 .fake1{
 		position: absolute;
 		height: 100%;
		width: 100%;
		background: rgba(87, 219, 172, 0.92);
 }

 .asd{
 	width: 282px;
 }
 .left5{
 	float: left;
 	width: 30%;
	margin-left: 15%;
	margin-top: 13%;
 }

 .asd-text {
 	font-size: 15px;
 	font-weight: normal;
 }

 .group {
width: 126px;
height: 62px;
 padding: 15px 30px;
 background: #1A224D;
 transition: 0.35s linear;
}

a.group:hover {
width: 126px;
height: 62px;
 padding: 15px 30px;
 background: #FFFFFF	;
}

.single {
	border: 2px solid #333;
	border-color: white;
	width: 126px;
height: 62px;
 padding: 13px 30px;

}
.singleorgroup{
	text-align: left;

padding-top: 10%;
font-size: 18px;
padding-inline-start: 0px;
}

.right5{
	float: right;
	height: 90%;
	width: 600px;
	margin-top: 2%;
	margin-right: 10%;
	background: #FFF;
}
.insideup{
	width: 88%;
	height: 30%;
	margin-left: 35px;
	margin-top: 6%;
	z-index: 3;
}

h2{
	color: #1A224D;
	font-weight: bold;
	font-size: 24px;
}

 #right-panel {
 		text-align: left;
 	position: relative;
	height: 555px;
	width: 500px;
	display: inline-block;
	margin-top: 4%;
	overflow: scroll;
	background: #F7FAFE;
	padding-left: 0px;
	margin-left: -10px;    
	overflow-x: hidden;

}

#map{
	position: relative;
	    margin-left: auto;
    margin-right: auto;
	height: 555px;
	width: 570px;
	display: inline-block;
	margin-top: 4%;

}
.buttons{
	position: relative;
	text-align: left;
	width: 100%;
	background: #F7FAFE;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 0px;
	font-family: "Noto Sans";
	  position: relative;
	  border: 0px;
	    outline: none;
	    font-style: normal;
font-weight: 600;
font-size: 70%;
color: #1A224C;
}
.buttons:before,
.buttons:after {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  width: 90%;
  height: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-style: normal;
font-weight: 600;
font-size: 80%;
color: #1A224C;
}

.buttons:hover{
	position: relative;
	text-align: left;
	width: 100%;
	background: #E3E7EC;
	padding-left: 20px;
	margin-left: 0px;
	font-family: "Noto Sans";
	  position: relative;
	  border: 0px;
	  font-style: normal;
font-weight: 600;
font-size: 22px;
color: #1A224C;
}

.result{
	padding-left: 20px;
	font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 26px;
}
h1.firstHeading {
	text-align: left;
}
// ---------------------------------------------------------
.from-wrap{
	  width: 500px;
  height: 20%;
}
form.a{

  float: left;
  width: 500px;
  height: 20%;
  padding: 0px;
  color: #7b7b7b; 
  display: inline;
}

form div {
  margin-bottom: 55px;
  position: absolute;
}


/********************** стилизация элементов формы **********************/
label, span {
  display: block;
  font-size: 14px;

}
input[type="text"] {
	font-size: 15px;
	font-family: "Noto Sans";
  width: 100%;
  cursor: pointer;
  padding: 13px 15px;
  margin-top: 10px;
  border: 2px solid #57DBAC;
  background: #fff;
  color: #7b7b7b;
  -webkit-appearance: none; /*убираем галочку в webkit-браузерах*/
  -moz-appearance: none; /*убираем галочку в Mozilla Firefox*/
  text-overflow: ellipsis;

}

option {
	white-space: nowrap;
	overflow: hidden;
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    text-overflow: ellipsis;
}

select {
font-size: 15px;
overflow: hidden !important;
    font-family: "Noto Sans";
    width: 100%;
    cursor: pointer;
    padding: 13px 15px;
    margin-top: 10px;
    border: 2px solid #57DBAC;
    background: #fff;
    color: #7b7b7b;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}

.select-arrow {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 22px;
  height: 40px;
  padding-left: 7px; 
  padding-bottom: 6px;
  pointer-events: none; /*активизируем показ списка при нажатии на стрелку*/
   border: 2px solid #57DBAC;
   background-color: #F7FAFE;

}


/********************** добавляем форме адаптивность **********************/



.qwe{
	width: 250px;
}
.qwe1{
	width: 200px;
	margin-left: 286px;
}
.qwe2{
	width: 216px;
}
.qwe3{
	height: 300px;
	width: 26%;
}
.qwe3{
	height: 200px;
	width: 486px;
}

.price {
	font-size: 17px;
	font-family: "Noto Sans";
	float: left;
	position: absolute;
	margin-top: 90px;
	height: 50px;
	width: 100px;
	color: #55DAAB;
	background: rgba(0,0,0,0);
	border: 2px solid #57DBAC;
	-webkit-appearance: button;

}

.insidedown{
	width: 88%;
	height: 30%;
	margin-left: 35px;
	margin-top: 6%;
}

.personal{
	border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}
.qwe4{
	font-weight: normal;
	color: #1A224D;

	height: 50px;
	width: 200px;
	margin-left: 35px;
	margin-top: 35px;
}
.qwe5{
	font-weight: normal;
	color: #1A224D;
	height: 200px;
	margin-left: 35px;
	margin-top: 35px;
}

.qwe6{
	background: #57DBAC;
	font-size: 15px;
	padding: 18px;
	color: white;
	display: inline;
}
.oplata{
	width: 10%;
	text-align: center;
	display: inline-block;
	margin-left: 20px;

}
.qwe7{
	margin-left: 25%;
	height: 100px;	
	margin-top: -5.5%;
}

.six{
	position: absolute;
	top: calc(100% + 385px + 780px + 691px + 799px);
		height: 900px;
		float: left;
		color: #1A224D;
		width: 100%;
}
.team{

	margin-left: 20%;
	margin-top: 70px;
	float: left;
	width: 500px;
	display: inline-block;
}
.team-header{
	font-weight: bold;
}
.team-text{
	float: left;
	font-weight: normal;
	font-size: 15px;
	width: 25%;
	margin-top: 250px;
	margin-left: 5%;
}
.seven{
	color: white;
	position: absolute;
	top: calc(100% + 385px + 780px + 691px + 799px + 900px);
	height: 400px;
	width: 100%;
	text-align:center;
	display: inline-block;
}
.seven1{
	width: 60%;
	height: 300px;
	background: #57DBAC;
	text-align:center;
	position:relative;
	display: inline-block;
}
.miss{
	font-size: 18px;
	font-weight: normal;
}
.update{
	font-size: 48px;
	margin-top: -15px;
	font-style: normal;
	font-weight: 800;

}
.miss1{
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	width: 40%;
	position:relative;
	margin-top: -15px;
	    display: block;
    margin-left: auto;
    margin-right: auto

}
.miss2{
	display: inline;
	width: 600px;
	height: 100px;
}
.miss3{
	margin-left: 20px;
	text-align: center;
	position: relative;
	  padding: 7px 50px 9px 50px;
	  margin-top: 10px;
	    border: 2px solid #fff;
	    background: #57DBAC;
	    display: inline-block;
	    font-weight: 800;
	font-size: 19px;
	font-style: bold;
	font-family: "Noto Sans";
	color:white;
		 transition: 0.35s linear;

}
.miss3:hover{
	font-weight: 800;
	margin-left: 20px;
	text-align: center;
	position: relative;
	  padding: 7px 50px 9px 50px;
	  margin-top: 10px;
	    border: 2px solid #fff;
	    background: #57DBAC;
	    display: inline-block;
	font-size: 19px;
	font-style: normal;
	font-family: "Noto Sans";
	color:white;
	background-color: white;
	color: #1A224D;
}
.email{
		font-size: 15px;
	font-family: "Noto Sans";
  width: 30%;
  cursor: pointer;
  padding: 13px 15px;
  margin-top: 30px;
  border: 0px;
  background: #fff;
  color: #7b7b7b;
  -webkit-appearance: none; /*убираем галочку в webkit-браузерах*/
  -moz-appearance: none; /*убираем галочку в Mozilla Firefox*/
  text-overflow: ellipsis;
}

.eight{
	position: absolute;
	top: calc(100% + 385px + 780px + 691px + 799px + 900px + 400px);
	width: 100%;
	height: 300px;
	background-color: #57DBAC;
}

.eight1 div{

	display:inline-block;

	margin-top: 25px;
	height: 200px;
}

.eight11{
	position: relative;
	margin-top: -20px;
	width: 180px;

	    display: inline;
    margin-left: auto;
    margin-right: auto
	width: 10%;
	height: 300px;
	background-color: #57DBAC;
	padding: 15px 6%;
}
.eight111{
	text-align: left;
	width: 100%;
	font-style: normal;
font-weight: 500;
font-size: 18px;
}
.eight12{position: absolute;
    top: 0%;
    	left: 25%;
	    display: inline;
    margin-left: auto;
    margin-right: auto
	width: 4%;
	height: 300px;
	background-color: #57DBAC;
	padding: 15px 6%;
}

.eight1122{

	display: block;
	font-style: normal;
font-weight: 500;
font-size: 18px;
text-align: left;
}
.eight13{
	font-size: 100%;
	left: 48%;
	    display: inline;
    margin-left: auto;
    margin-right: auto
	width: 10%;
	height: 300px;
	padding: 15px 6%;
	background-color: #57DBAC;
	position: absolute;
    top: 0%;
}
.eight14{
	font-size: 100%;
	left: 73%;
	    display: inline;
	    float: left
	width: 100%;
	height: 300px;
	background-color: #57DBAC;
	padding: 15px 6%;
	position: absolute;
    top: 0%;
}

.box div{
	width:20%;
	display:inline-block;
	text-align: center;
	margin-top: 25px;
	height: 250px;

}

.center{
	margin-right: 30px;
	margin-left: 30px;
}

.small {
	font-size: 15px;
	font-weight: normal;
}
.oplata1{
	font-size: 80%;
	float:left;
		width: 19%;
	text-align: center;
	display: inline-block;
	margin-right: 10px;
}
.nine{
	position: absolute;
	top: calc(100% + 385px + 780px + 691px + 799px + 900px + 400px + 300px);
	width: 100%;
	height: 35px;
	background-color: #39C794;
	text-align: center;
	font-style: normal;
font-weight: 500;
font-size: 80%;
line-height: 25px;
padding-top: 7px;
}




@media (max-width: 1450px){
	.palm{
		margin-right: 5%;
	}
	.right5{
		margin-right: 5%;
	}
	.left5{
		margin-left: 10%;
	}
	.first{
		min-height: 800px;
	}
		 #right-panel {
 		text-align: left;
 	position: relative;
	height: 555px;
	width: 35%;
	display: inline-block;
	margin-top: 4%;
	overflow: scroll;
	background: #F7FAFE;
	padding-left: 0px;
	margin-left: -10px;    
	overflow-x: hidden;

}
.seven{

	top: calc(100% + 385px + 780px + 691px + 799px + 770px);

}
.team {
		width: 400px;
		margin-top: 60px;
	}
	.team-text{
	margin-top: 140px;
	margin-left: 5%;
}
.eight{
	top: calc(100% + 385px + 780px + 691px + 799px + 900px + 100px);

}
.nine{
		top: calc(100% + 385px + 780px + 691px + 799px + 900px + 400px);
}
.third {

	color: #1A224D;
	background-color: #F7FAFE;
	width: 100%;
	text-align: left;
    position: absolute;
    font-size: 15px;
    font-weight: normal;
   top: calc(100% + 385px);
   height: 680px;
}
.four {
	top: calc(100% + 385px + 680px );

}
 .five {
		top: calc(100% + 385px + 780px + 591px);
 }
.six{
	top: calc(100% + 385px + 780px + 691px + 699px);
	height: 700px;
}
.seven{

	top: calc(100% + 385px + 780px + 691px + 799px + 600px);

}
}
@media (max-width: 1280px){
	.palm{
		margin-right: 0%;
		width: 40%;
	}
	.team {
		width: 400px;
	}
	.right5{
		margin-right: 0%;
		height: 100%;
		margin-top: 0%;
		border: 0px;
	}
	.left5{
		margin-left: 10%;
	}
	.first{
		min-height: 700px;
	}
	.box div {
		padding: 0px 5%;
	}
	 #right-panel {
 		text-align: left;
 	position: relative;
	height: 555px;
	width: 35%;
	display: inline-block;
	margin-top: 4%;
	overflow: scroll;
	background: #F7FAFE;
	padding-left: 0px;
	margin-left: -10px;    
	overflow-x: hidden;

}
.seven{

	top: calc(100% + 300px + 620px + 691px + 799px + 460px);
	height: 360px;

}
.team {
		width: 340px;
		margin-top: 40px;
	}
.eight{
	top: calc(100% + 300px + 620px + 691px + 799px + 800px + 20px);

}
.nine{
		top: calc(100% + 300px + 620px + 691px + 799px + 900px + 220px);
}
.team-text{
	margin-top: 80px;
	margin-left: 5%;
}
 .five {
 		position: absolute;
		top: calc(100% + 300px + 740px + 590px);
		height: 680px;
	
 }
 .six{
	top: calc(100% + 300px + 620px + 691px + 699px);
	height: 560px;
}
.second {

    height: 300px;

}

.third {
   top: calc(100% + 300px);
}
.four {
	top: calc(100% + 300px + 680px );
	height: 650px;
}
.container{
	padding-top: 0%;
}


}
@media (max-height: 700px) and (max-width: 1280px){
	.second{top: 700px;}
	.third{
		top: calc(700px + 300px);
	}
	.four{
		top: calc(700px + 300px + 680px );
	}
	.five{
		top: calc(700px + 300px + 740px + 590px);
	}
	 .six{
	top: calc(700px + 300px + 620px + 691px + 699px);
	}
	.seven{
	top: calc(700px + 300px + 620px + 691px + 799px + 460px);
	}
	.eight{
	top: calc(700px + 300px + 620px + 691px + 799px + 800px + 20px);
	}
	.nine{
		top: calc(700px + 300px + 620px + 691px + 799px + 900px + 220px);
	}
}

@media (max-height: 1000px) and (min-width: 1280px){
	.second{top: 1000px;}
	.third{
		top: calc(1000px + 385px);
	}
	.four{
		top: calc(1000px + 385px + 780px);
	}
	.five{
		top: calc(1000px + 385px + 780px + 691px);
	}
	 .six{
	top: calc(1000px + 385px + 780px + 691px + 799px);
	}
	.seven{
	top: calc(1000px + 385px + 780px + 691px + 799px + 900px);
	}
	.eight{
	top: calc(1000px + 385px + 780px + 691px + 799px + 900px + 400px);
	}
	.nine{
		top: calc(1000px + 385px + 780px + 691px + 799px + 900px + 400px + 300px);
	}
}
------------------------------------------

